<html lang='en'>
<head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='../static/style.css'>
    <script src='../static/client.js'></script>
</head>
<body>
<div>
    <div class='center'>
        <div class='title'>Classify Skin Lesions</div>
        <p>
            Determine whether it is:
			<p><strong>akiec</strong> (actinic keratosis),
			</p>
			<p><strong>bcc</strong> (basal cell carcinoma), 
			</p>
			<p><strong>blk</strong> (benign keratosis),
			</p>
			<p><strong>df</strong> (dermatofibroma), 
			</p>
			<p><strong>nv</strong> (melanocytic nevi),
			</p>			
			<p><strong>mel</strong> (melanoma) or 
			</p>
			<p><strong>vasc</strong> (vascular).
			</p>
        </p>
        <div class='content'>
            <div class='no-display'>
                <input id='file-input'
                       class='no-display'
                       type='file'
                       name='file'
                       accept='image/*'
                       onchange='showPicked(this)'>
            </div>
            <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
            <div class='upload-label'>
                <label id='upload-label'>Please select image then analyse</label>
            </div>
            <div>
                <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
            </div>
            <div class='analyse'>
                <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyse</button>
            </div>
            <div class='result-label'>
                <label id='result-label'></label>
            </div>
        </div>
    </div>
</div>
</body>
</html>
